---
---

@import "{{ site.theme }}";

body {
	padding: 2rem;
}

.wrapper {
	width: 65rem;
}

header, footer {
	width: 20rem;
}

section {
	width: 45rem;
}

.menu {
	height: auto;
	width: auto;

	background: none;
	border: none;

	li {
		float: none;
		width: auto;
		height: 2rem;
		border: none;

		a {
			font-size: inherit;
			color: #267CB9;
			text-align: left;
			padding: 0;

			&:hover, &:focus {
				color: #069;
			}

			&:active {
				background: none;
			}
		}
	}
}

#markdown-toc {
	padding: 0;
	margin: 0;

	ul {
		margin: 0;
	}

	li {
		list-style-type: none;
	}
}
